
<div class="wildcards"><!--Wildcards-->
  <a href="./project">
  <div class="wildcard-box" >  <!--Wildcard 1-->

    <div class="wildcard-label"><h3> Energy Hub </h3> Lite ERP system</div>
    <a class="wildcard-tag" href="#">WPF</a>
    <a class="wildcard-tag" href="#">C#</a>
    <a class="wildcard-tag" href="#">SQL</a>
    <a class="wildcard-tag" href="#">JSON</a>
    <a class="wildcard-tag" href="#">XML</a>
    <a class="wildcard-tag" href="#">EXCEL</a>
    <img class="wildcard-image" src="../assets/img/wildcardEH.png" />
    <img class="wildcard-image" style="width: auto;background: transparent" src="../assets/img/EH-Logo.png" />


  </div>
  </a>
  <div  class="wildcard-box"><!--Wildcard 2-->

    <div class="wildcard-label"><h3> Update Checker </h3> Back Office document management system</div>
    <a class="wildcard-tag" href="#">WPF</a>
    <a class="wildcard-tag" href="#">C#</a>
    <a class="wildcard-tag" href="#">SQL</a>

    <img class="wildcard-image" src="../assets/img/wildcardUC.png" />
    <img class="wildcard-image" style="width: auto;background: transparent" src="../assets/img/UC-Logo.png" />

  </div>
  <div  class="wildcard-box"><!--Wildcard 3-->

    <div class="wildcard-label"><h3> EMailer </h3> Mass-email sender with dynamic content</div>
    <a class="wildcard-tag" href="#">WPF</a>
    <a class="wildcard-tag" href="#">C#</a>
    <a class="wildcard-tag" href="#">EXCEL</a>
    <img class="wildcard-image" src="../assets/img/wildcardEM.png" />
    <img class="wildcard-image" style="width: auto;background: transparent" src="../assets/img/EM-Logo.png" />

  </div>

  <div  class="wildcard-box"><!--Wildcard 4-->

    <div class="wildcard-label"><h3> PDF Maker </h3> Attach multiple files into one PDF </div>
    <a class="wildcard-tag" href="#">WPF</a>
    <a class="wildcard-tag" href="#">C#</a>
    <img class="wildcard-image" src="../assets/img/wildcardMM.png" >
    <img class="wildcard-image" style="width: auto;background: transparent" src="../assets/img/MM-Logo.png" />


  </div>
</div>
