<div class="project">
  <img class="project-background" src="./assets/img/wildcardEH.png">
  <div class="blog">



  <div class="project-showcase-text">
  <h1>Energy Hub</h1>
  <h4>Ligtweight ERP for Energy Trading </h4>

    <p>The best multitasking tool for dynamic trading and daily activities</p>
    <p>With modular system , auto load , and up to 2 concurent companies support</p>
    <p>Developed ground up for the best user experience possible </p>
    <div class="project-download" s>
        <a href="#" style="color:white;">Get it Now</a>
    </div>
  </div>
  <img class="project-showcase-image" src="./assets/img/energy%20hub.PNG">
  </div>

</div>

<div class="blog">

  <div class="blog-post-big">
    <img class="blog-post-img" src="/assets/img/EH/EH-categories.PNG">
    <h3>Categorized Activities by Site</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie congue tristique. Suspendisse nisi erat, interdum nec massa sit amet, rutrum euismod tellus. Nulla vitae rutrum nunc. Curabitur accumsan tincidunt dui, nec accumsan ex lacinia vel. Proin efficitur lobortis libero, nec ultricies mi consequat id. Fusce eu nunc magna. Fusce suscipit feugia<p>

  </div>
  <div class="blog-post-big">
    <img class="blog-post-img-right" src="/assets/img/EH/EH-popup.PNG">
    <h3>Popup windows</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie congue tristique. Suspendisse nisi erat, interdum nec massa sit amet, rutrum euismod tellus. Nulla vitae rutrum nunc. Curabitur accumsan tincidunt dui, nec accumsan ex lacinia vel. Proin efficitur lobortis libero, nec ultricies mi consequat id. Fusce eu nunc magna. Fusce suscipit feugia<p>

  </div>

  <div class="blog-post-big">
    <img class="blog-post-img" src="assets/img/wildcardEH%20-%20Copy.png">
    <h3>All in ONE</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie congue tristique. Suspendisse nisi erat, interdum nec massa sit amet, rutrum euismod tellus. Nulla vitae rutrum nunc. Curabitur accumsan tincidunt dui, nec accumsan ex lacinia vel. Proin efficitur lobortis libero, nec ultricies mi consequat id. Fusce eu nunc magna. Fusce suscipit feugia<p>
  </div>
  <div class="blog-post-big">
    <div class="project-download" style="margin: 0 auto;">
      <a href="#" style="color:white;">Get it Now</a>
    </div>
  </div>
</div>
