<div class="blog">
  <div class="blog-post-big" >
    <img class="blog-post-img" src="assets/img/energy%20hub-cover.PNG">
    <h3>Lorem Ipsum</h3>
    <h4>03/03/2021</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie congue tristique. Suspendisse nisi erat, interdum nec massa sit amet, rutrum euismod tellus. Nulla vitae rutrum nunc. Curabitur accumsan tincidunt dui, nec accumsan ex lacinia vel. Proin efficitur lobortis libero, nec ultricies mi consequat id. Fusce eu nunc magna. Fusce suscipit feugia<p>
  </div>
  <div class="blog-post">
    <img class="blog-post-img" src="assets/img/wildcardEH%20-%20Copy.png">
    <h3>Lorem Ipsum</h3>
    <h4>03/03/2021</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie congue tristique. Suspendisse nisi erat, interdum nec massa sit amet, rutrum euismod tellus. Nulla vitae rutrum nunc. Curabitur accumsan tincidunt dui, nec accumsan ex lacinia vel. Proin efficitur lobortis libero, nec ultricies mi consequat id. Fusce eu nunc magna. Fusce suscipit feugia<p>
  </div>
  <div class="blog-post">
    <img class="blog-post-img" src="assets/img/wildcardEH%20-%20Copy.png">
    <h3>Lorem Ipsum</h3>
    <h4>03/03/2021</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie congue tristique. Suspendisse nisi erat, interdum nec massa sit amet, rutrum euismod tellus. Nulla vitae rutrum nunc. Curabitur accumsan tincidunt dui, nec accumsan ex lacinia vel. Proin efficitur lobortis libero, nec ultricies mi consequat id. Fusce eu nunc magna. Fusce suscipit feugia<p>
  </div>

</div>
